In [27]:
import pandas as pd

In [41]:
df = pd.read_csv('bert_Output.csv')

In [45]:
df

          Date       Joy       Sad      Fear     Anger
0   2020-03-23  0.386971  0.345047  0.130292  0.137690
1   2020-03-24  0.444331  0.310563  0.122349  0.122757
2   2020-03-25  0.406148  0.337090  0.115164  0.141598
3   2020-03-26  0.396917  0.337924  0.115108  0.150051
4   2020-03-27  0.392548  0.338205  0.119802  0.149444
..         ...       ...       ...       ...       ...
92  2020-06-23  0.325423  0.335947  0.138671  0.199959
93  2020-06-24  0.341931  0.359678  0.130417  0.167974
94  2020-06-25  0.325021  0.362325  0.140148  0.172506
95  2020-06-26  0.303881  0.398018  0.124277  0.173823
96  2020-06-27  0.329329  0.418393  0.113297  0.138981

[97 rows x 5 columns]

In [46]:
df1 = pd.read_csv('score_output.csv')

In [47]:
df1

          date  subjectivity  polarity
0   2020-03-23      0.384856  0.088522
1   2020-03-24      0.364927  0.092992
2   2020-03-25      0.359129  0.082878
3   2020-03-26      0.355554  0.079321
4   2020-03-27      0.363371  0.083988
..         ...           ...       ...
92  2020-06-23      0.368032  0.070744
93  2020-06-24      0.358555  0.072120
94  2020-06-25      0.364904  0.076789
95  2020-06-26      0.358439  0.065523
96  2020-06-27      0.364194  0.069009

[97 rows x 3 columns]

In [48]:
dff = pd.DataFrame()
dff['Date'] = df['Date']
dff['Subjectivity'] = df1['subjectivity']
dff['Polarity'] = df1['polarity']
dff['Joy'] = df['Joy']*100
dff['Sad'] = df['Sad']*100
dff['Fear'] = df['Fear']*100
dff['Anger'] = df['Anger']*100

In [49]:
dff.head()

,Date,Subjectivity,Polarity,Joy,Sad,Fear,Anger
0,2020-03-23,0.384856,0.088522,38.697082,34.504727,13.029182,13.769009
1,2020-03-24,0.364927,0.092992,44.433116,31.056281,12.234910,12.275693
2,2020-03-25,0.359129,0.082878,40.614754,33.709016,11.516393,14.159836
3,2020-03-26,0.355554,0.079321,39.691675,33.792395,11.510791,15.005139
4,2020-03-27,0.363371,0.083988,39.254837,33.820502,11.980239,14.944422

In [50]:
dff.to_csv('Output_final.csv')