In [1]:
ls

Anger.csv          HappyToday.csv  predicted.csv      Scoretoday.csv
HappyAnalysis.pdf  hashtags.csv    ScoreAnalysis.pdf  Untitled.ipynb

In [36]:
import pandas as pd
import math
import random
import numpy

In [30]:
df = pd.DataFrame()

In [31]:
date = [] 
for i in range(1,16):
    x = ""
    if(math.log10(i)>=1):
         x='2020-07-'+str(i)
    else:
        x='2020-07-0'+str(i)
    date.append(x)

In [32]:
df["date"] = date

In [33]:
print(len(df.index))

15

In [35]:
df.head(15)

          date
0   2020-07-01
1   2020-07-02
2   2020-07-03
3   2020-07-04
4   2020-07-05
5   2020-07-06
6   2020-07-07
7   2020-07-08
8   2020-07-09
9   2020-07-10
10  2020-07-11
11  2020-07-12
12  2020-07-13
13  2020-07-14
14  2020-07-15

In [54]:
# generate random Gaussian values
from random import seed
from random import gauss
# seed random number generator
seed(1)
values= []
# generate some Gaussian values
for _ in range(15):
    value = gauss(0, 1)
    values.append(value)
    print(value)

1.2881847531554629
1.449445608699771
0.06633580893826191
-0.7645436509716318
-1.0921732151041414
0.03133451683171687
-1.022103170010873
-1.4368294451025299
0.19931197648375384
0.13337460465860485
0.5464683003382316
-0.9139709437353126
0.005005283626572444
-0.06474176037268789
-1.5058290012607418

In [55]:
df['subjectivity'] = values

In [56]:
# generate random Gaussian values
from random import seed
from random import gauss
# seed random number generator
seed(2)
values= []
# generate some Gaussian values
for _ in range(15):
    value = gauss(0, 1)
    values.append(value)
    print(value)

2.338166736175902
-0.6628539080668208
0.394859621231163
0.14652144723938165
0.8351485796673621
-1.4021097884728553
-0.41477790514903395
-0.7514601527127819
-1.0746327428812226
-0.8438288140833818
-0.5124543820595373
-0.28679378157528723
-0.9067038852377295
0.42201196552540204
-0.5475100896942942

In [57]:
df['polarity'] = values

In [58]:
df.head()

         date  subjectivity  polarity
0  2020-07-01      1.288185  2.338167
1  2020-07-02      1.449446 -0.662854
2  2020-07-03      0.066336  0.394860
3  2020-07-04     -0.764544  0.146521
4  2020-07-05     -1.092173  0.835149

In [69]:
# generate random integer values
from random import seed
from random import randint
seed(4)
values= []
# generate some Gaussian values
for _ in range(15):
    value = randint(0,100)
    values.append(value)
    print(value)

30
38
13
92
50
61
19
11
8
2
51
70
37
97
7

In [70]:
df['anger'] = values

In [71]:
df.head()

         date  subjectivity  polarity  fear  joy  sad  anger
0  2020-07-01      1.288185  2.338167    17    7   30     30
1  2020-07-02      1.449446 -0.662854    72   11   75     38
2  2020-07-03      0.066336  0.394860    97   10   69     13
3  2020-07-04     -0.764544  0.146521     8   46   16     92
4  2020-07-05     -1.092173  0.835149    32   21   47     50

In [72]:
df.to_csv('predicted_data.csv')

In [73]:
df = pd.DataFrame()

In [74]:
tag = ["lockdow","coronavirues","lockdow.1.0","doctorAttack","extension","relief","modiAgain","indian_govt","religion"]

In [75]:
df['text'] = tag

In [76]:
df.head()

           text
0       lockdow
1  coronavirues
2   lockdow.1.0
3  doctorAttack
4     extension

In [77]:
print(len(df.index))

9

In [91]:
# generate random integer values
from random import seed
from random import randint
seed(5)
values= []
# generate some Gaussian values
for _ in range(9):
    value = randint(5000,10000)
    values.append(value)

In [92]:
df['count'] = values

In [93]:
df.head()

           text  joy  sad  anger  fear  subjectivity    polarity  count
0       lockdow   17    7     30    30      4.085594 -117.884175   7092
1  coronavirues   72   11     75    38     46.486542 -114.816068   7937
2   lockdow.1.0   97   10     69    13    -46.089784   66.946891   9342
3  doctorAttack    8   46     16    92     35.262566 -229.391009   5237
4     extension   32   21     47    50     92.617103  -14.338384   8814

In [ ]:
df